<div class="main-container">
    <div class="pdf-viewer">
        <app-viewer
            #firstViewer
            [focused]="isFirstViewerFocused()"
            [searchResult]="getViewerSearchResult(1)"
            [isSearchOpen]="isSearchOpen"
            (requestFocus)="focusFirstViewer()"
            (click)="onUserClickViewer(1)"
            (openLibrary)="onOpenLibrary()"
        ></app-viewer>
    </div>
    @if (showSplitView) {
        <div class="pdf-viewer">
            <app-viewer
                #secondViewer
                [focused]="isSecondViewerFocused()"
                [searchResult]="getViewerSearchResult(2)"
                [isSearchOpen]="isSearchOpen"
                (requestFocus)="focusSecondViewer()"
                (click)="onUserClickViewer(2)"
                (openLibrary)="onOpenLibrary()"
            ></app-viewer>
        </div>
    }
</div>